body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1661344663190-cf664c44b93e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    transition: filter .07
}

h1 {
    color: white;
    font-size: 50px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

.btn {
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    background-color: blanchedalmond;
    border: none;
    font-size: 20px;
    border-radius: 5px;

}

.btn:hover {
    filter: brightness(0.8);
}

.active.container {
    filter: blur(2px) brightness(0.7);
}

.popup-container {
    position: fixed;
    width: 400px;
    height: 200px;
    left: 50%;
    top: 30%;
    background: #fff;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url('https://images.unsplash.com/photo-1487088678257-3a541e6e3922?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
    border-radius: 5px;
    background-size: contain;
    background-position: 0 0;
    box-shadow: 0px 4px 8px #f5f3f3;
    opacity: 1;
    transition: all 1s;
    ;
}

h4 {
    font-size: 30px;
    margin: 10px 0px;
    color: aqua;
    font-family: sans-serif;
}

label {
    color: aqua;
    font-family: sans-serif;

}

.btn-popup {
    background-color: brown;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid;
}

.input {
    margin: 10px 0;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border: 2px solid;
}

.input::placeholder {
    color: lightgray
}

.class-icon {
    position: absolute;
    cursor: poiner;
    right: 30px;
}

.class-icon:hover {
    color: brown;
}

.active.popup-container {
    visibility: hidden;
    opacity: 0;
    top: 10%;
}